@page "/teamselection"
@inherits PokemonBattle.Server.Components.Classes.Shared.PokemonDataBase

<h3>TeamSelection</h3>

@if (isInitialized == false)
{
    <p>Loading ...</p>
}
else
{
    <table class="table pokemon-team-container">
        <tbody class="pokemon-team">
            <tr class="pokemon-team-slot-group">
                @for (int i = 0; i < 3; i++)
                {
                    <td class="pokemon-team-slot">
                        @if (PokemonTeam[i] != null)
                        {
                            <div class="pokemon-team-img">
                                <img class="@PokemonTeam[i].Name" src="@PokemonTeam[i].Sprites.Front_Default" />
                            </div>
                            <br />
                            <div class="pokemon-team-name">
                                <p>@PokemonTeam[i].Name.ToUpper()</p>
                            </div>
                        }
                        else
                        {
                            <div class="pokemon-team-img">
                                <img class="empty-slot" src="@DefaultTeamPokemonImgUrl" alt="EmptyPokeball" />
                            </div>
                            <br />
                            <div class="pokemon-team-name">
                                <p>Empty</p>
                            </div>
                        }
                    </td>
                }
            </tr>
            <tr class="pokemon-team-slot-group">
                @for (int i = PokemonTeam.Count - 1; i >= 3; i--)
                {
                    <td class="pokemon-team-slot">
                        @if (PokemonTeam[i] != null)
                        {
                            <div class="pokemon-team-img">
                                <img class="@PokemonTeam[i].Name" src="@PokemonTeam[i].Sprites.Front_Default" />
                            </div>
                            <br />
                            <div class="pokemon-team-name">
                                <p>@PokemonTeam[i].Name.ToUpper()</p>
                            </div>
                        }
                        else
                        {
                            <div class="pokemon-team-img">
                                <img class="empty-slot" src="@DefaultTeamPokemonImgUrl" alt="EmptyPokeball" />
                            </div>
                            <br />
                            <div class="pokemon-team-name">
                                <p>Empty</p>
                            </div>
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <EditForm Model="@PokemonTeam">
        <div class="form-group row">
            <div>
                <label for="searchable-pokedataList">
                    Pokemon Selection
                </label>
                <InputSelect id="searchable-pokedataList" @bind-Value="@SelectedPokeId">
                    <option value="Default">Select one..</option>
                    @foreach (var pokemon in PokemonDataList)
                        {
                        <option value="@pokemon.Id.ToString()">@pokemon.Name.ToUpper()</option>
                        }
                </InputSelect>
            </div>
            <div>
                <img src="@(String.IsNullOrEmpty(SelectedPokeId) || SelectedPokeId == "Default" ? DefaultPokemonImg : PokemonDataList.FirstOrDefault(p => p.Id.ToString() == SelectedPokeId).Sprites.Front_Default)" />
            </div>
        </div>

    </EditForm>

}


@code {

}
