
<EditForm Model="@PokemonTeamData">
        <label class="pokemon-selection-title" for="searchable-pokedataList">
            Pokemon Selection
        </label>
        <InputSelect id="searchable-pokedataList" @bind-Value="@Pokemon">
            <option value="Default">Select one..</option>
            @foreach (var pokemon in PokemonList)
            {
            <option value="@pokemon">@pokemon.Name.ToUpper()</option>
            }
    </InputSelect>
    <img src="@(Pokemon == null 
                ? DefaultPokemonImg 
                : Pokemon.Sprites.Front_Default)" />
</EditForm>

