
<EditForm Model="@State.PokemonTeam">
    <label class="pokemon-selection-title" for="searchable-pokedataList">
        Pokemon Selection
    </label>
    <InputSelect id="searchable-pokedataList" @bind-Value="@Pokemon">
        <option value="Default">Select one..</option>
        @foreach (var pokemon in State.Pokedex.PokemonList)
        {
            <option value="@pokemon.Name">@pokemon.Name.ToUpper()</option>
        }
    </InputSelect>
    <img src="@(GetPokemonData(Pokemon) == null
                ? DefaultPokemonImg
                : GetPokemonData(Pokemon).Sprites.Front_Default)" />
</EditForm>
<button @onclick=@(args => SwapPokemonInSlotWith(GetPokemonData(Pokemon), args))>Choose!</button>
